/*Styling for dashboard layout*/

.dashboard {
  display: grid;
  grid-template-rows: 0.5fr 3.5fr; 
  grid-template-columns: repeat(6, 1fr);
  margin-top: 5rem;
}

.header {
  background-color: rgb(25, 25, 112);
  color: aliceblue;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: span 4;
  text-align: left;
  padding-left: 6rem;
  border-radius: .625rem .625rem 0 0;
}


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(25, 25, 112);
  color: aliceblue;
  grid-row-start: 2;
  grid-column-start: 2;
  text-align: left;
  gap: 2rem;
  padding: 4rem;
  padding-top: 3rem;
  border-radius: 0 0 0 .625rem;
}

.mainDash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(53, 127, 172);
  color: aliceblue;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: span 3;
  border-radius: 0 0 .625rem 0;
}
